<nav class="navbar-expand-lg nav-color">

    <!-- <nav class="navbar navbar-dark bg-primary">
       <a class="navbar-brand" href="#">
      
       </a>
     </nav>  
   -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-botons mr-auto">

            <li class="nav-item" routerLinkActive="active">
                <!--El active remarca ese boton -->
                <a class="nav-link" style="padding: 10px!important;color: #ffffff;" [routerLink]="['home']">Home</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" style="padding: 10px!important; color: #ffffff;" [routerLink]="[ 'comparador'] ">Comparador</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" style="padding: 10px!important; color: #ffffff;" [routerLink]="[ 'alertas'] ">Alertas</a>
            </li>-->
        </ul>
    </div>

</nav>