<html>

<body>
    <table class="table table-striped" *ngFor="let client of clients ; let j = index;">
        <thead class="thead-dark">
            <tr>
                <th style="text-align: center; width: 33.3%;" scope="col">{{client.descripcion}}</th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: white;">
                <td style="width: 33.3%;">
                    <div style="display: flex;justify-content: center;">
                        <img class="card-img-top images" style="width: 250px; margin-right: 4%;" alt="Responsive image" *ngIf="client.estado == 3" src="../../../assets/planta feliz.jpg">
                        <img class="card-img-top images" style="width: 250px; margin-right: 4%;" alt="Responsive image" *ngIf="client.estado == 2" src="../../../assets/planta neutra.JPG">
                        <img class="card-img-top images" style="width: 250px; margin-right: 4%;" alt="Responsive image" *ngIf="client.estado == 1" src="../../../assets/planta triste.JPG">
                        <div style="display: grid;">
                            <p style="width: 50px;height:13px; margin-top:20%;"></p>
                            <img (click)="graficaCalidad(client.thingsboardId)" style="width: 50px;height:50px; margin-top:20%;" src="../../../assets/carbon-dioxide.png">
                            <img (click)="graficaHumedad(client.thingsboardId)" style="width: 50px;height:50px; margin-top:20%;" src="../../../assets/drop.png">
                            <img (click)="graficaLuminosidad(client.thingsboardId)" style="width: 50px;height:50px; margin-top:20%;" src="../../../assets/sunny.png">
                            <img (click)="graficaTemperatura(client.thingsboardId)" style="width: 50px;height:50px; margin-top:20%;" src="../../../assets/thermometer.png">
                        </div>

                        <div style="display: grid;align-items: center;width: 25%;">
                            <div style="height:0px"> Average last hour {{fecha | date: 'dd-MMM-yyyy HH:MM:ss'}} :</div>
                            <div style="display: flex;">
                                <div class="progress" style="width: 10rem; margin-left: 10%;" (click)="graficaCalidad(client.thingsboardId)">
                                    <div id="calidadProgreso" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <a style=" margin-top: -4px; margin-left: 5px;">CO2: {{calidadProgresoString | number: '1.2-2'}}[min - max]</a>
                            </div>
                            <div style="display: flex;">
                                <div class="progress" style="width: 10rem; margin-left: 10%;" (click)="graficaHumedad(client.thingsboardId)">
                                    <div id="humedadProgreso" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <a style=" margin-top: -4px; margin-left: 5px;">HUM: {{humedadProgresoString | number: '1.2-2'}}[min - max]</a>
                            </div>
                            <div style="display: flex;">
                                <div class="progress" style="width: 10rem; margin-left: 10%;" (click)="graficaLuminosidad(client.thingsboardId)">
                                    <div id="luminosidadProgreso" class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <a style=" margin-top: -4px; margin-left: 5px;">LUM: {{luminosidadProgresoString | number: '1.2-2'}}[min - max]</a>
                            </div>
                            <div style="display: flex;">
                                <div class="progress" style="width: 10rem; margin-left: 10%;" (click)="graficaTemperatura(client.thingsboardId)">
                                    <div id="temperaturaProgreso" class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <a style=" margin-top: -4px; margin-left: 5px;">TEM: {{temperaturaProgresoString | number: '1.2-2'}}[min - max]</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</body>

</html>