<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Matt Everson of Astuteo, LLC – https://www.astuteo.com/slickmap" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>SlickMap CSS</title>

</head>

<body>

    <div class="sitemap">

        <nav class="primaryNav">
            <ul>
                <li id="home"><a href="http://iot.etsisi.upm.es/">Home</a></li>

                <li><a href="http://iot.etsisi.upm.es/#/graficaHumedad/593d8ac0-c13e-11ea-bd36-25db62324136">Grafica Humedad</a></li>
                <li><a href="http://iot.etsisi.upm.es/#/graficaTemperatura/593d8ac0-c13e-11ea-bd36-25db62324136">Grafica Temperatura</a></li>
                <li><a href="http://iot.etsisi.upm.es/#/graficaLuminosidad/593d8ac0-c13e-11ea-bd36-25db62324136">Grafica Luminosidad</a></li>
                <li><a href="http://iot.etsisi.upm.es/#/graficaCalidad/593d8ac0-c13e-11ea-bd36-25db62324136">Grafica Calidad del Aire</a></li>

            </ul>

        </nav>

    </div>
</body>

</html>