<div class="container-fluid">
    <div class="row" style="justify-content: center;">
        <main role="main" class="col-md-9 col-lg-10 pt-3 px-4">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Gráfica</h1>
            </div>


            <p tooltip="Partes Por Millon" placement="left">PPM</p>
            <canvas class="my-4 chartjs-render-monitor" baseChart width="1200" height="800" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" width="1538"
                height="649" style="display: block; width: 1538px; height: 649px;"> </canvas>

            <h2>Tabla de Valores</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th style="text-align: center;" scope="col">Horas</th>
                            <th style="text-align: center;" scope="col">Particulas por Millon</th>
                            <th style="text-align: center;" scope="col">Identificador Sensor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of datosTabla; let i = index;">
                            <th style="text-align: center;" scope="row">{{data.hora | date: 'mediumTime'}}</th>
                            <td style="text-align: center;">{{data.valor}}ppm</td>
                            <td style="text-align: center;" [tooltip]=(data.sensor.nombre) placement="right">{{data.sensor.id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>